
@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">Error!</h2>
<h3>Ingrese un rango de fechas válido.</h3>
@Html.ActionLink("Volver", "Index", "Computadora", new { @class = "btn btn-primary" })


