
@{
    ViewBag.Title = "Mover";
}
<ol class="breadcrumb">
    <li><a href="~/Home/Index">Inicio</a></li>
    <li class="active">@("Mover de ubicaciòn la PC") </li>
</ol>
@using (Html.BeginForm("Mover", "Computadora", FormMethod.Post, new { id = "frm-mover" }))
{
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card-box">
                <h4 class="m-t-0 m-b-20 header-title"><b>MOVER</b></h4>
                <div class="row">
                    <div class="col-md-12">
                        <h5><b>Mueve la computadora a otra ubicación</b></h5>
                        <p class="text-muted m-b-30 font-13">
                            Seleccione la nueva ubicación para la computadora seleccionada.
                        </p>

                        <div class="form-group">
                            @Html.Label("Nombre de Ubicación")
                            @Html.DropDownList("id_nueva_ubicacion", new SelectList(ViewBag.ubicacion, "id_ubicacion", "nombre"), new { @class = "form-control", @style = "width:300px;" })
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="text-center">
            <button type="submit" class="btn-custom btn-inverse">Mover</button>
        </div>
    </div>
}

