
@{
    /**/

    ViewBag.Title = "Error";
}

<h2 class="text-danger">Error!</h2>
<h3>Ingrese fecha válida.</h3>
@Html.ActionLink("Volver", "Index", "Camara", new { @class = "btn btn-primary" })