
@{
    ViewBag.Title = "ErrorPantalla";
}

<h2 class="text-danger">Error!</h2>
<h3>Debe ingresar un valor válido para la cantidad de insumo, como asi también el número de comprobante.</h3>
@Html.ActionLink("Volver", "Index", "Ingresos", new {@class = "btn btn-primary" })
