
@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="col-sm-12">
        

        <h4 class="page-title">Dashboard</h4>
        <p class="text-muted page-title-alt">Bienvenido al panel de SGEI</p>
    </div>
</div>

<div class="row">
   
    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="widget-bg-color-icon card-box">
            <div class="bg-icon bg-icon-inverse pull-left">
                <i class="md md-print text-danger"></i>
            </div>
            <div class="text-right">
                <h3 class="text-danger"><b data-plugin="counterup">@ViewBag.impresoras</b></h3>
                <p class="text-muted">Cantidad</p>
                <a class="btn btn-primary btn-custom waves-effect waves-light" href="~/Home/Index">Impresoras</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

   <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="widget-bg-color-icon card-box">
            <div class="bg-icon bg-icon-inverse pull-left">
                <i class="md md-computer text-inverse"></i>
            </div>
            <div class="text-right">
                <h3 class="text-dark"><b data-plugin="counterup">@ViewBag.computadoras</b></h3>
                <p class="text-muted">Cantidad</p>
                <a class="btn btn-primary btn-custom waves-effect waves-light" href="~/Computadora/Index">Computadoras</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="widget-bg-color-icon card-box">
            <div class="bg-icon bg-icon-inverse pull-left">
                <i class="md md-phone-in-talk text-success"></i>
            </div>
            <div class="text-right">
                <h3 class="text-success"><b data-plugin="counterup">@ViewBag.telefonos</b></h3>
                <p class="text-muted">Cantidad</p>
                <a class="btn btn-primary btn-custom waves-effect waves-light" href="~/Telefonos/Index">Telefonos</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="widget-bg-color-icon card-box">
            <div class="bg-icon bg-icon-inverse pull-left">
                <i class="fa fa-camera text-danger"></i>
            </div>
            <div class="text-right">
                <h3 class="text-warning"><b data-plugin="counterup">26</b></h3>
                <p class="text-muted">Cantidad</p>
                <a class="btn btn-primary btn-custom waves-effect waves-light" href="~/Camaras/Index">Camaras</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-3"></div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="widget-bg-color-icon card-box">
                <div class="bg-icon bg-icon-inverse pull-left">
                    <i class="typcn typcn-flow-switch text-inverse"></i>
                </div>
                <div class="text-right">
                    <h3 class="text-primary"><b data-plugin="counterup">9</b></h3>
                    <p class="text-muted">Cantidad</p>
                    <a class="btn btn-primary btn-custom waves-effect waves-light" href="~/Switchs/Index">Switchs</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="widget-bg-color-icon card-box">
                <div class="bg-icon bg-icon-inverse pull-left">
                    <i class="fa fa-files-o text-success"></i>
                </div>
                <div class="text-right">
                    <h3 class="text-primary"><b data-plugin="counterup">9</b></h3>
                    <p class="text-muted">Cantidad</p>
                    <a class="btn btn-primary btn-custom waves-effect waves-light" href="~/Escaners/Index">Escaners</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
