@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navigation-menu">
            
            <li class="has-submenu">
                <a href="#"><i class="glyphicon glyphicon-plus"></i>Altas</a>
                <ul class="submenu">
                    <li><a href="~/home/crud"><i class="glyphicon glyphicon-arrow-up"></i> Alta de impresora</a></li>
                    <li><a href="~/home/AltaCompu"><i class="glyphicon glyphicon-arrow-up"></i> Alta de Computadoras</a></li>

                    <li><a href="~/home/AltaTel"><i class="glyphicon glyphicon-arrow-up"></i> Alta de Telefonos</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@
}


