@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">Error!</h2>
<h3>El número ingresado no existe.</h3>
@Html.ActionLink("Volver", "Buscar_PC_IP", "Buscar", new { @class = "btn btn-primary" })
