
    @model Model.motivobajaPC

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Motivo de baja</h3>
            </div>
            <div class="modal-body text-danger text-center">
                @*<h4>Motivo de baja de la computadora:</h4>*@
                @Model.descripcion
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn-custom btn-default" aria-hidden="true">Aceptar</button>*@
            </div>
        </div>
    </div>


