@model Model.soPC

@{
    ViewBag.Title = "Nuevo Registro";
}

<h4 class="page-title">Nuevo Sistema Operativo!</h4>
<ol class="breadcrumb">
    <li><a href="~/Inicio/Index">Inicio</a></li>
    <li class="active">@("Sistema Operativo") </li>
</ol>

@using (Html.BeginForm("Guardarso", "ABM", FormMethod.Post))
{
    @*@Html.HiddenFor(x => x.id)*@
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card-box">
                <h4 class="m-t-0 m-b-20 header-title"><b>NUEVO SISTEMA OPERATIVO</b></h4>

                <div class="row">
                    <div class="col-md-12">
                        <h5><b>Agregue un nuevo Sistema Operativo</b></h5>
                        <p class="text-muted m-b-30 font-13">
                            Llene los campos a continuacion para agregar un nuevo Sistema Operativo.
                        </p>
                        <div class="form-group">
                            @Html.Label("Ingrese Sistema Operativo")
                            @Html.TextBoxFor(x => x.descripcion, new { @class = "form-control", @style = "width:200px;", @required = "required" })
                            @Html.ValidationMessageFor(x => x.descripcion, null, new { @class = "label label-danger" })
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Atención</h3>
                </div>
                <div class="modal-body">
                    <h4>Desea agregar el sistema operativo?</h4>
                    Al aceptar se agregara a la lista de sistemas operativos. Podra eliminar el mismo desde dicha lista.
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-custom btn-default">Aceptar</button>
                    @*<a href="#" data-dismiss="modal" class="btn btn-default">Aceptar</a>*@
                </div>
            </div>
        </div>
    </div>
}

<div class="text-center">
    <button class="btn-custom btn-inverse" data-toggle="modal" data-target="#mostrarmodal">Agregar</button>
</div>



@*<script>
    $(document).ready(function () {
        $("#mostrarmodal").modal("show");
    });
</script>*@
