@model List<Model.impresora>
@{
    ViewBag.Title = "Impresoras";
}

<h4 class="page-title">Consulta!</h4>
<ol class="breadcrumb">
    <li><a href="~/Inicio/Index">Inicio</a></li>
    <li class="active">@("Detalle de impresoras") </li>
</ol>

@using (Html.BeginForm("CrudImpresora", "ABM", FormMethod.Post, new { id = "frm-insumo" }))
{
    <div class="vakata-context-left">
        <button type="submit" class="btn btn-inverse waves-effect waves-light">
            <span class="btn btn-label">
                <i class="md md-queue"></i>
            </span>
            Agregar
        </button>
    </div>

}
<div class="col-md-2"></div>
<div class="col-md-8">

    <div class="card-box table-responsive">
        <table class="table table-striped m-0">
            <thead>
                <tr>
                    <th style="width:100px;">Marca y Modelo de la Impresora</th>
                    <th style="width:100px;">Tipo</th>
                    <th style="width:100px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                    <tr>
                        <th>@a.marca_modelo</th>
                        <th>@a.tipo</th>

                        <th>
                            <a class="glyphicon glyphicon-edit" title="Editar" href="~/ABM/EditarImpresora/@a.id"></a>
                            <a onclick="return confirm('¿Desea eliminar el Insumo?');" class="md md-clear" title="Eliminar" href="~/ABM/EliminarImpresora/@a.id"></a>
                        </th>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    </div>
<div class="col-md-2"></div>