@model List<Model.marca_modelo_switch>
@{
    ViewBag.Title = "Modelos de SW";
}

<h4 class="page-title">Incidentes de Camaras</h4>
<ol class="breadcrumb">
    <li><a href="~/Inicio/Index">Inicio</a></li>
    <li class="active">@("Modelos de SW") </li>
</ol>

@using (Html.BeginForm("Crudmodelosw", "ABM", FormMethod.Post, new { id = "frm-insumo" }))
{
    <div class="vakata-context-left">
        <button type="submit" class="btn btn-inverse waves-effect waves-light">
            <span class="btn btn-label">
                <i class="md md-queue"></i>
            </span>
            Agregar
        </button>
    </div>

}

<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="card-box table-responsive">
        <table class="table table-striped m-0">
            <thead>
                <tr>
                    <th style="width:50px;">Marca y Modelo</th>
                    <th style="width:10px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                    <tr>
                        <th>@a.marca_modelo</th>
                        <th>
                            <a class="glyphicon glyphicon-edit" title="Editar" href="~/ABM/Editarmodelosw/@a.id_mmarca"></a>
                            <a onclick="return confirm('¿Desea eliminar el modelo?');" class="md md-clear" title="Eliminar" href="~/ABM/Eliminarmodeloswm/@a.id_mmarca"></a>
                        </th>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<div class="col-md-2"></div>


