@model List<Model.Proveedor>
@{
    ViewBag.Title = "Proveedor";
}
<h4 class="page-title">Proveedor</h4>
<ol class="breadcrumb">
    <li><a href="~/Inicio/Index">Inicio</a></li>
    <li class="active">@("Proveedor") </li>
</ol>
@using (Html.BeginForm("CrudProveedor", "ABM", FormMethod.Post, new { id = "frm-insumo" }))
{
    <div class="vakata-context-left">
        <button type="submit" class="btn btn-inverse waves-effect waves-light">
            <span class="btn btn-label">
                <i class="md md-queue"></i>
            </span>
            Agregar
        </button>
    </div>

}
<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="card-box table-responsive">
        <table class="table table-striped m-0">
            <thead>
                <tr>
                    <th style="width:50px;">Nombre</th>
                    <th style="width:50px;">Telefono</th>
                    <th style="width:10px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                <tr>
                    <th>@a.nombre</th>
                    <th>@a.telefono</th>
                    <th>
                        <a class="glyphicon glyphicon-edit" title="Editar" href="~/ABM/EditarProveedor/@a.id"></a>
                        <a onclick="return confirm('¿Desea eliminar el proveedor?');" class="md md-clear" title="Eliminar" href="~/ABM/EliminarProveedor/@a.id"></a>
                    </th>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-2"></div>

