@model List<Model.ubicacion_camara>
@{
    ViewBag.Title = "Ubicacion de Camaras";
}
<h4 class="page-title">Ubicaciones de Camaras</h4>
<ol class="breadcrumb">
    <li><a href="~/Inicio/Index">Inicio</a></li>
    <li class="active">@("Ubicaciones de Camaras") </li>
</ol>

@using (Html.BeginForm("Crudubicam", "ABM", FormMethod.Post, new { id = "frm-insumo" }))
{
    <div class="vakata-context-left">
        <button type="submit" class="btn btn-inverse waves-effect waves-light">
            <span class="btn btn-label">
                <i class="md md-queue"></i>
            </span>
            Agregar
        </button>
    </div>

}
<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="card-box table-responsive">
        <table class="table table-striped m-0">
            <thead>
                <tr>
                    <th style="width:50px;">Nombre Ubicacion</th>
                    <th style="width:10px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                    <tr>
                        <th>@a.nombre</th>
                        <th>
                            <a class="glyphicon glyphicon-edit" title="Editar" href="~/ABM/EditarubiCam/@a.id_ubicacion_camara"></a>

                            <a onclick="return confirm('¿Desea eliminar el modelo?');" class="md md-clear" title="Eliminar" href="~/ABM/EliminarubiCam/@a.id_ubicacion_camara"></a>
                        </th>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<div class="col-md-2"></div>


