
@{
    ViewBag.Title = "Switch";

}
<h4 class="page-title">Bienvenido!</h4>
<ol class="breadcrumb">
    <li class="active">
        Sistema para control de insumos e incidentes de switchs.
    </li>
</ol>


<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-primary panel-border">
            <div class="panel-heading">
                <h4 class="panel-title">SWITCHS</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 ">
                        @*<h5><b>INSUMOS POR FECHA</b></h5>*@
                        <p class="text-muted m-b-30 font-13">
                            Para comenzar, seleccione en el combo la ubicación de la camara, el sistema mostrará las camaras en esa ubicaciÓn.
                        </p>

                        @using (Html.BeginForm("Buscar", "Swichs", FormMethod.Post, new { id = "frm-incidente" }))
                        {
                            <div class="form-group">
                                @Html.Label("Nombre de Ubicacion:")
                                @Html.DropDownList("ubicacionsw", new SelectList(ViewBag.ubicacionsw, "id_ubicacion_switch", "nombre"), new { @class = "btn dropdown-toggle btn-white", @style = "width:200px;" })
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-custom waves-effect waves-light">Buscar</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






