
@{
    ViewBag.Title = "Detalle";
}

<ol class="breadcrumb">
    <li><a href="~/Role/Index">Roles</a></li>
    <li class="active">@("Detalle de funcionalidades de usuarios.") </li>
</ol>
<div class="col-lg-6">
    <div class="panel panel-primary panel-border">
        <div class="panel-heading">
            <h3 class="panel-title">ADMINISTRADOR</h3>
        </div>
        <div class="panel-body">
            <p>
                Modulo de ABM
            </p>
            <p>
                Gestion de Usuarios
            </p>
            <p>
                Modulo de Consultas
            </p>
            <p>
                Alta de Equipamiento
            </p>
            <p>
                Agregar Insumos a equipos
            </p>
            <p>
                Carga de Incidentes a equipos
            </p>
            <p>
                Editar equipos
            </p>
            <p>
                Mover Equipos
            </p>
            <p>
                Bajas de Equipos
            </p>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel panel-danger panel-border">
        <div class="panel-heading">
            <h3 class="panel-title">OPERARIO</h3>
        </div>
        <div class="panel-body">
            <p>
                Alta de Equipamiento
            </p>
            <p>
                Agregar Insumos a equipos
            </p>
            <p>
                Carga de Incidentes a equipos
            </p>
            <p>
                Editar equipos
            </p>
            <p>
                Mover Equipos
            </p>
            <p>
                Bajas de Equipos
            </p>
        </div>
    </div>
</div>
